{% extends "./inc/base.html"%}

{% block header_links %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="./">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="./ask">Ask</a>
</li>
{% endblock header_links %}

{% block header_place %}
<img src="../static/img/logo.jpg" class="logo_header" alt="">
<div class="col-2">
    <li class="nav-item">
        <div class="login" title="your_login">Authorized user</div>
    </li>
    <div class="row">
        <div class="col-5">
            <a href="www.youtube.com">settings</a>
        </div>
        <div class="col-5">
            <a href="./login">logout</a>
        </div>
    </div>
</div>
{% endblock header_place %}

<!-- Begin page content -->
{% block content_side %}
<div class="col-9">
    <h2 class="mt-5">Questions</h2>

    {% for question in questions %}
    {% include "./inc/question_template.html" %}
    {% endfor %}

    {% include "./inc/number_pages.html" %}
</div>
{% endblock content_side %}


