{% extends "./inc/base.html" %}
{% block header_links %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="../">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="../ask">Ask</a>
</li>
{% endblock header_links %}

{% block header_place %}
<img src="../static/img/logo.jpg" class="logo_header" alt="">
<div class="col-2">
    <li class="nav-item">
        <div class="login" title="your_login">Authorized user</div>
    </li>
    <div class="row">
        <div class="col-5">
            <a href="www.youtube.com">settings</a>
        </div>
        <div class="col-5">
            <a href="./login.html">logout</a>
        </div>
    </div>
</div>
{% endblock header_place %}

<!-- Begin page content -->
{% block content_side %}
<div class="col-9">
    {% for look_question in look_questions %}
    {% include "./inc/look_question.html" %}
    {% endfor %}
    <hr>

    {% for answer in answers %}
    {% include "./inc/answer.html" %}
    {% endfor %}

    {% include "./inc/number_pages.html" %}
    <hr>
    <textarea class="t_area" placeholder="Enter your answer here"
              aria-label="Enter your answer here"></textarea>
    <button class="btn btn-outline-success" style="margin: 20px;" type="submit">Answer</button>
</div>
{% endblock content_side %}

